<!-- This HTML displays a form object for a user to enter their username and password to log in. Constraints are based on minlength and maxlength, which can be changed based on needs. -->

<div class="back">
  <div class="container">
    <div class="col banner" id="log">
      <img src="../../../assets/thumbnail_VibeZ-Logo-Green.png" id="logo" routerLink='' alt="">
      <div class="typewriter">
        <p class="line-1 anim-typewriter" style="color: silver">Reimagine Positivity</p>
      </div>
    </div>
    <div class="col registration-form">
      <header>
        <h1 style="color: whitesmoke">Log In</h1>
        <p>If you do not have an account, sign up</p>
        <a routerLink="/register">here</a>
      </header>
      <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
        <div class="input-section username-section">
          <input class="username" type="username" name="username" placeholder="ENTER YOUR USERNAME HERE"
            autocomplete="off" (keyup)="usernameIcon()" (keyup.enter)="usernameNext()" [(ngModel)]="form.username"
            required minlength="3" maxlength="20" #username="ngModel" />
          <div class="animated-button">
            <span class="icon-paper-plane"><img src="../../../assets/user.svg" /></span><span
              class="next-button username" (click)="usernameNext()"><img src="../../../assets/arrow-up.svg"
                class="fa fa-arrow-up" /></span>
          </div>
        </div>
        <div class="input-section password-section folded">
          <input class="password" type="password" name="password" placeholder="ENTER YOUR PASSWORD HERE"
            autocomplete="off" (keyup)="passwordIcon()" (keyup.enter)="passwordNext()" [(ngModel)]="form.password"
            required minlength="3" #password="ngModel" />
          <div class="animated-button">
            <span class="icon-lock"><img src="../../../assets/lock.svg" /></span><span class="next-button password"
              (click)="passwordNext()"><img src="../../../assets/arrow-up.svg" class="fa fa-arrow-up" /></span>
            <img src="" alt="" />
          </div>
        </div>
        <div *ngIf="isSignInFailed" class="failure">
          <p class="wrongInput" (click)="reload()">
            Invalid Username or Password <br />
            Click Here to Try Again
          </p>
        </div>
      </form>
    </div>
  </div>
</div>