<nav class="navbar navbar-expand-lg" id="topnav">
  <div class="" id="container">
    <img src="../../../assets/thumbnail_VibeZ-Logo-Green.png" id="logo" routerLink='' alt="">
    <div class="test">
      <div id="wrap">
        <form autocomplete="on" id="form">
          <img src="../../../assets/search.svg" alt="">
          <input id="search" [(ngModel)]="search" name="search" type="text" placeholder="Enter username">
          <input id="search_submit" value="Rechercher" type="submit" (click)="searchByUsername(search)">
        </form>
      </div>
      <a type="button" class="logoutBtn" (click)="logout()">
        <img src="../../../assets/log-out.svg" id="logout" (click)="logout()" alt=""> Logout
      </a>
    </div>
  </div>
</nav>

<div id="draggableDiv1">
  <menu id="menu" class="top-right close">
    <!-- <a class="disc l1">
      <div routerLink=''>Info</div>
    </a> -->
    <a class="disc l2">
      <div routerLink=''>Info</div>
    </a>
    <a class="disc l3">
      <div (click)="loadProfile()">Profile</div>
    </a>
    <a class="disc l4">
      <div (click)="loadPostFeed()">Posts</div>
    </a>
    <a class="disc l5 toggle" (mousedown)="onMouseDown($event)" (click)="toggleNav($event)" #toggle>
      {{toggledText}}
    </a>
  </menu>
</div>