<app-nav></app-nav>
<div class="row gutters-sm main-body">
  <div class="col-md-4 mb-3 max-width">
    <div class="card dark">
      <div class="card-body">
        
        <div class="d-flex flex-column align-items-center text-center fix-width">
          <div class="mt-3">
            <h4 id='u_usernameTitle'></h4>
            <h4 class="mb-0">{{profile.username}}</h4>
          </div>
          <img *ngIf="profile.profilePicture" src={{profile.profilePicture}} alt="Profile Picture" class="custom-round-circle" style ="max-width:100%;
          max-height:100%;">
          <img *ngIf="!profile.profilePicture" src='https://cdn-icons-png.flaticon.com/512/847/847969.png' alt="Profile Picture" class="custom-round-circle" style ="max-width:100%;
          max-height:100%;">
          <div class="mt-3">
            <h4 id='u_usernameTitle'></h4>
            <h6 class="mb-0" ></h6>
            
          </div>
          <textarea  type="text" class="form-control" id='u_bio' placeholder={{profile.bio}} [(ngModel)]="bio" name="bio" *ngIf="isUser && editMode"></textarea>
          <p *ngIf="isUser && !editMode">{{profile.bio}}</p>
          <p *ngIf="!isUser">{{profile.bio}}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="card mb-3 dark">
      <div class="card-body">
        <div class="row">
          <div class="col-sm-3">
            <h6 class="mb-0">First Name</h6>
          </div>
          <div class="col-sm-9 text-secondary">
            <input type="text" class="form-control" id='u_firstname' placeholder={{profile.firstName}} [(ngModel)]="firstName" name="firstName" *ngIf="isUser && editMode">
            <p *ngIf="isUser && !editMode">{{profile.firstName}}</p>
            <p *ngIf="!isUser">{{profile.firstName}}</p> 

          </div>
        </div>
        <div class="row">
          <div class="col-sm-3">
            <h6 class="mb-0">Last Name</h6>
          </div>
          <div class="col-sm-9 text-secondary">
            <input type="text" class="form-control" id='u_lastname'[(ngModel)]="lastName" name="lastName" placeholder={{profile.lastName}} *ngIf="isUser && editMode">
            <p *ngIf="isUser && !editMode">{{profile.lastName}}</p>
            <p *ngIf="!isUser">{{profile.lastName}}</p> 
          </div>
        </div>
        <div class="row">
          <div class="col-sm-3">
            <h6 class="mb-0">Email</h6>
          </div>
          <div class="col-sm-9 text-secondary">
            <input type="text" class="form-control" id='u_email'[(ngModel)]="email" name="email" placeholder={{profile.email}} *ngIf="isUser && editMode">
            <p *ngIf="isUser && !editMode">{{profile.email}}</p> 
            <p *ngIf="!isUser">{{profile.email}}</p> 
          </div>
        </div>
        <div class="row" *ngIf="isUser && editMode">
          <div class="col-sm-3">
            <h6 class="mb-0">Password</h6>
          </div>
          <div class="col-sm-9 text-secondary">
            <input type="text" class="form-control" id='u_password'[(ngModel)]="password" name="password" placeholder="New Password" >
          </div>
        </div>
        <div class="row" *ngIf="isUser && editMode">
          <div class="col-sm-3">
            <h6 class="mb-0">Profile Picture</h6>
          </div>
          <div class="col-sm-9 text-secondary">
            <input type="file" class="form-control" id="inputGroupFile04" (change)="uploadImage($event)"
              aria-describedby="inputGroupFileAddon04" aria-label="Upload">
          </div>
        </div>
        <div class="row" *ngIf="isUser && !editMode">
          <div class="col-sm-12">
            <button class="btn btn-info" id="editBtn" (click)="changeToEditMode()">Edit</button>
            <button *ngIf='profile.firstName === ""' class="btn btn-info" id="editBtn" (click)="getOwnProfile()">Refresh Data</button>
          </div>
        </div>
        <div class="row" *ngIf="isUser && editMode">
          <div class="col-sm-12">
            <button class="btn btn-info" id="updateBtn" (click)="update(firstName, lastName, email, password, bio)"> Update</button>
          </div>
        </div>
      </div>
    </div>
  </div>

