* {
    box-sizing: border-box;
}

body {
    font-family: Helvetica, Arial, sans-serif;
}

.post {
    display: flex;
    width: 70%;
    margin: 50px auto;
    max-width: 45rem;
    box-shadow: 0 5px 15px 0 #777;
    border-radius: 10px;
}

.post-date {
    font-size: 13px;
    color: #bbb;
}

.post-author {
    color: #555;
}

.post-title {
    font-size: 2rem;
    color: black;
    font-weight: 500;
}

.post-title, .post-excerpt {
    border: none;
}

.post-title:focus, .post-excerpt:focus {
    outline: none;
}

.post-excerpt {
    letter-spacing: 1px;
    line-height: 1.33;
    margin-bottom: 1rem;
    width: 100%;
}

.post-image {
    position: relative;
    flex: 0 0 40%;
    width: auto;
    max-width: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.post-image>img {
    height: 100%;
    width: 100%;
    max-width: 20rem;
    max-height: 20rem;
}

.post-content {
    flex: 0 0 60%;
    padding: 20px 30px;
    color: whitesmoke
}

.dark{
    background-color: #202020;
    color: whitesmoke;
}

.post-link {
    display: inline-block;
    margin: 0 0 15px;
    padding: 16px 48px;
    background: lightblue;
    color: #fff;
    text-decoration: none;
    border-radius: 4em;
    transition: background .2s ease-in-out;
}

.post-link:hover {
    background: darken(lightblue, 10%);
}

@media screen and (max-width: 1024px) {
    .post {
        width: 80%;
    }
}

@media screen and (max-width: 768px) {
    .post {
        flex-direction: column;
    }
    .post-image {
        height: 270px;
        max-width: 100%;
    }
}

/* ------------------------ */

.btn {
    background: fuchsia;
    border: 1px solid fuchsia;
    margin-top: 1rem;
    color: black;
    font-weight: bolder;
}

.btn:hover {
    text-decoration: underline;
}